<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.moranlee.justgo">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomActionBarTheme"
        >
        <activity android:name=".activity.activity.WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.activity.user_usage.Login"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.activity.MainMenu"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.activity.user_usage.EditProfile"
            android:launchMode="singleTop"
            android:noHistory="true"/>
        <activity android:name=".activity.activity.user_usage.ChangePassword"
            android:launchMode="singleTop"
            android:noHistory="true"/>
        <activity android:name=".activity.activity.food_usage.SelectFoodOption"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.activity.food_usage.SelectFromFoodDatabase"
            android:launchMode="singleTop"
            android:noHistory="true"/>
        <activity android:name=".activity.activity.food_usage.ConfirmFoodNutrient"
            android:launchMode="singleTop"
            android:noHistory="true"/>
        <activity android:name=".activity.activity.food_usage.AddNewFood"
            android:launchMode="singleTop"
            android:noHistory="true"/>
        <activity android:name=".activity.activity.exercise_usage.SelectExerciseOption"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.activity.exercise_usage.AddNewExercise"
            android:launchMode="singleTop" />
        <activity android:name=".activity.activity.recommandition_usage.GetRecommendation"
            android:launchMode="singleTop"
            android:noHistory="true"/>
        <activity android:name=".activity.activity.food_usage.NormalExpandFood"
            android:launchMode="singleTop"
            android:noHistory="true"/>
        <activity android:name=".activity.activity.diet_usage.SelectDietOption"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.activity.user_usage.Register"
            android:launchMode="singleTop"
            android:noHistory="true"/>
        <activity android:name=".activity.activity.weight_usage.past_and_new_weight_activity"
            android:launchMode="singleTop"
            android:noHistory="true" />
        <activity android:name=".activity.activity.food_usage.SearchFoodName"
            android:launchMode="singleTop"
            android:noHistory="true"/>
        <activity android:name=".activity.activity.analysis_usage.Analysis"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.activity.exercise_usage.NormalExpandExercise"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.activity.diet_usage.NormalExpandDiet"
            android:launchMode="singleTop"
            android:noHistory="true"/>
        <activity android:name=".activity.activity.diet_usage.ConfirmDietNutrient"
            android:launchMode="singleTop"
            android:noHistory="true"/>
        <activity android:name=".activity.activity.exercise_usage.ConfirmExerciseData"
            android:launchMode="singleTop"
            android:noHistory="true"/>
        <activity android:name=".activity.activity.food_usage.NormalExpandSearch"
            android:launchMode="singleTop"
            android:noHistory="true"/>
        <activity android:name=".activity.activity.diet_usage.SearchDietName"
            android:launchMode="singleTop"
            android:noHistory="true"/>
        <activity android:name=".activity.activity.diet_usage.NormalExpandDietSearch"
            android:launchMode="singleTop"
            android:noHistory="true">

        </activity>
    </application>

</manifest>